@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.ProseMirror {
  outline: none;
  min-height: 100px;
}

.ProseMirror p {
  margin: 0;
  line-height: 1.5em;
  font-family: monospace;
  font-size: 14px;
}

/* Highlighting Syntax */
.hl-moss-green {
  text-decoration: underline solid #2ECC71 2px;
}

.hl-light-green {
  text-decoration: underline solid #82E0AA 2px;
}

.hl-yellow {
  text-decoration: underline dotted #F1C40F 2px;
}

.hl-purple {
  background-color: rgba(155, 89, 182, 0.25);
  border-radius: 2px;
}

/* Base styles for active words */
[data-group-id] {
  transition: all 0.2s ease-in-out;
}
